:root {
  /* ===text==== */
  --text-color: #66809a;
  --black-text-color: #0b1033;
  --white-text-color: #ffffff;
  --dark-blue-text-color: #4d6fd3;
  /* ====bg==== */
  --white-bg-color: #ffffff;
  --pink-dekore: #ee425a;
  --main-font: "Poppins", sans-serif;
  --dark-text-label: #202742;
  --label-shadow: 0px 100px 80px rgba(63, 58, 101, 0.07),
    0px 41.7776px 33.4221px rgba(63, 58, 101, 0.0503198),
    0px 22.3363px 17.869px rgba(63, 58, 101, 0.0417275),
    0px 12.5216px 10.0172px rgba(63, 58, 101, 0.035),
    0px 6.6501px 5.32008px rgba(63, 58, 101, 0.0282725),
    0px 2.76726px 2.21381px rgba(63, 58, 101, 0.0196802);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  font-family: var(--main-font);
  background: linear-gradient(180deg, #e7f0ff 0%, rgba(231, 240, 255, 0) 100%);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/* common */
.section-title {
  font-size: 48px;
  line-height: 1.4;
  color: var(--black-text-color);
  text-transform: capitalize;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.title-white {
  color: var(--white-text-color);
}
.title-black {
  color: var(--black-text-color);
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1320px;
}

/* ======================= */
.header {
  padding-top: 20px;
  padding-bottom: 10px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  margin-left: auto;
}
.header-nav-list {
  display: flex;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--black-text-color);
}
.header-nav-item:not(:last-child) {
  margin-right: 50px;
}
.header-nav-link {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

/* ========hero============== */
.hero {
  padding-top: 10px;
  padding-bottom: 30px;
}
.hero-container {
  display: flex;
  align-items: center;
  /* background-color: teal; */
}
.hero-title {
  margin-bottom: 32px;
  font-size: 180px;
  line-height: 110%;
  text-transform: capitalize;
  color: var(--black-text-color);
}
.hero-content {
  max-width: 35%;
}
.hero-image {
  position: relative;
  margin-left: auto;
}
.hero-descript {
  margin-bottom: 40px;
}

.hero-content-label {
  position: relative;
  padding-left: 110px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  max-width: 330px;
  line-height: 1.2;
  font-size: 12px;
  color: var(--dark-blue-text-color);
}
.hero-content-label::before {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 14px;
  background-color: var(--pink-dekore);
  background-image: url(../images/hourglass.svg);
  animation: rotation 2s linear infinite;
}

.hero-image-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -85px;
  padding: 20px 25px;
  max-width: 175px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--dark-text-label);
}
.hero-image-label::before {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #7754f6;
  background-image: url(../images/success.svg);
}

.hero-label {
  /* position: relative; */

  background: var(--white-bg-color);
  box-shadow: var(--label-shadow);
  border-radius: 9px;
}
.hero-label::before {
  content: "";
  /* position: absolute; */

  width: 72px;
  height: 72px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-size: 52px;
  background-position: center;
  /* animation: rotation 2s linear infinite; */
}

@keyframes rotation {
  0% {
    transform: translateY(-50%) rotate(0);
  }
  100% {
    transform: translateY(-50%) rotate(180deg);
  }
}

/* START */

.start-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;
}

.start {
}

.start-content {
  /* grid-area: 1 / 3 / 2 / 4; */
  /* grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2; */
}
